package layout

import "kannonfoundry/api-go/api/redgifs"

templ Creator(creator redgifs.CreatorResponse, gifs templ.Component) {
	<div class="container">
		{ creator.Username }
		<div id="search-results">
			@gifs
		</div>
	</div>
}
